.horizontal_drag_scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
    user-select: none;
  }

  .horizontal-drag-scroll:active {
    cursor: grabbing;
  }

 